
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,700&display=swap');
h1,h2, h3, h6, nav, button, form {
  font-family: 'Playfair Display SC', serif;
  
}
h2{
  text-decoration: underline;
}
p, .lead {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  


}

#hero {
  text-align: center;
  font-weight: bolder;
}
.muse {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
#form, .featurette-heading{
  text-align: center;
}
#see{
  background: a#c4aead;
}